/* work sans font linked from google font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/* shared style */
.font-primary {
    color: #3C354F;
    font-size: 1.12rem;
    font-weight: 500;
}

.title-primary {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;
    margin: 0;
}

.tilte-secondary {
    color: #F948B2;
    text-align: right;
    font-size: 3rem;
    font-weight: 700;
}

.btn {
    display: flex;
    gap: 1.5rem;
    margin-top: 2.56rem;
}

.btn-primary {
    color: #FFF;
    padding: 0 1.25rem;
    border-radius: 3rem;
    background: #FF42A5;
    border: none;
}

.btn-secondary {
    color: #FFF;
    padding: 0 1.25rem;
    border-radius: 3rem;
    background: #4EC5F7;
    border: none;
}

/* navbar style */
nav {
    display: flex;
    justify-content: space-between;
    padding: 0 15rem;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    margin: 0;
}

.title-and-image .footer-title-and-image{
    display: flex;
    gap: 1.125rem;
    align-items: center;
}

.logo {
    width: 5.3rem;
    height: 2.5rem;
}

.brand-title {
    color: #0B0223;
    text-align: center;
    font-size: 2.8rem;
    font-weight: 700;
}

.letter-G {
    color: #FF42A5;
}

.navbar {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.navbar ul {
    display: flex;
    align-items: center;
}

.navbar li {
    list-style: none;
    margin-left: 2rem;
}

.navbar li a {
    text-decoration: none;
}

.follow-us {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    width: 16.3rem;
    height: 5rem;
    /* padding: 17px 24px; */
}

.follow-us-text {
    margin-right: 1.5rem;
}

.follow-us {
    gap: 1rem;
}

/* navbar section design ends here */

/* cover section style */
.cover {
    display: flex;
    justify-content: space-between;
    background-image: url(../images/Group\ 14.png);
    background-size: fit-content;
    background-repeat: no-repeat;
    background-position: left;
    padding: 0 15rem;
    gap: 4.4rem;

}

.goat {
    width: 50%;
    padding-top: 6rem;
}

#cover-img {
    width: 50%;
}

.cover-img {
    width: 100%;
}

.cover-quote {
    text-align: left;
    font-size: 6rem;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
}

.cover-para-1 {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.cover-para-2 {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.cover-para-3 {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

/* gammer section style */
.gammer {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    ;
    padding: 4rem 15rem;
    gap: 3.6rem;
}

/* .gammer-img {
    display: none;
} */

.gammer-content {
    text-align: right;
}

.unleash {
    color: #534C64;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    text-align: right;
}

/* online games section */
.online-games {
    padding: 4rem 15rem;
    text-align: center;
}

.online-games-img {
    display: flex;
    gap: 1.5rem;
    text-align: left;
}

/* play instantly section style */
.play-instantly-section {
    display: flex;
    /* justify-content: space-between; */
    gap: 7.5rem;
    text-align: left;
    padding: 4rem 15rem 0rem;
    text-align: right;
    margin-bottom: 0;
}

.play-instantly-title-and-description {
    text-align: center;
    justify-content: center;
    margin-top: 7rem;
    margin-left: 12rem;
}

.play-instantly-description {
    width: 22rem;
}

.play-instantly-img1 {
    width: 70%;
    margin-left: 50px;
}

.play-instantly-img2 {
    position: relative;
    width: 40%;
    display: flex;
    justify-content: left;
    bottom: 250px;
}

/* types of games section style */
.types-of-games {
    display: flex;
    flex-wrap: wrap;
    gap: 3.5rem;
    padding: 4rem 15rem;
    justify-content: center;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.unique-games {
    display: flex;
    gap: 1rem;
}

.unique-games:hover {
    padding: .8rem;
    border: 1px solid #F948B2;
    border-radius: 300px;
}

.unique-games3 {
    padding: .8rem;
    border: 1px solid #F948B2;
    border-radius: 300px;
}
/* footer section style */
footer{
    background: #0B0223;
    text-align: center;
    justify-content: center;
    padding: 40.5rem auto;
}
.footer-brand-title {
    color: #ffffff;
    text-align: center;
    font-size: 2.8rem;
    font-weight: 700;
}


/* responsive design */
/* for mobile devices */
@media screen and (max-width: 576px) {

    /* shared style */
    .title-primary {
        color: #0B0223;
        font-size: 1.5rem;
        font-weight: 600;
    }

    .tilte-secondary {
        color: #F948B2;
        text-align: center;
        font-size: 1.5rem;
        font-weight: 600;
    }

    .font-primary {
        color: #3C354F;
        text-align: center;
        font-size: .8rem;
        font-weight: 500;
    }

    nav {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px;
        background: #FFF;
        box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
        margin-bottom: 20px;
    }

    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .navbar ul {
        flex-direction: column;
        align-items: center;
        gap: .5rem;
    }

    /* cover style */
    .cover {
        flex-direction: column-reverse;
        background-image: url(../images/Group\ 14.png);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: left;
        padding: .5rem;
        gap: 4.3rem;

    }

    .goat {
        width: 100%;
        padding: 1.5rem 3rem 1.5rem 3rem;
        margin: 1rem;
        align-items: center;
        justify-content: center;
    }

    #cover-img {
        width: 100%;
        align-items: center;
        justify-content: center;
        padding: .6rem 3rem .6rem 2.5rem;
        margin: 2rem 0 1rem 0;
        width: 100%;
    }

    .cover-quote {
        text-align: left;
        font-size: 3rem;
        font-weight: 800;
        background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin: 0;
    }

    .cover-para-1 {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    .cover-para-2 {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    .cover-para-3 {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    /* gammer style section */
    .gammer {
        flex-direction: column;
        padding: 1rem 6.25rem;
        gap: 3.6rem;
    }

    .gammer-img img {
        width: 100%;
    }

    .gammer-content {
        text-align: center;
    }

    .unleash {
        color: #534C64;
        font-size: 1rem;
        font-weight: 700;
        text-align: center;
    }

    /* online games section */
    .online-games {
        padding: 1rem 6.25rem;
        text-align: center;
    }

    .online-games-img {
        flex-direction: column;
        gap: 1.5rem;
        align-items: center;
    }

    /* play instantly section style */
    .play-instantly-section {
        flex-direction: column;
        text-align: center;
        justify-content: center;
        padding: 1rem 6.25rem;
    }

    .play-instantly-title-and-description {
        text-align: center;
        justify-content: center;
        margin-top: 0rem;
    }

    .play-instantly-description {
        width: 22rem;
    }

    .play-instantly-img1 {
        width: 100%;
        margin-left: 40px;
    }

    .play-instantly-img2 {
        position: relative;
        width: 50%;
        display: flex;
        bottom: 80px;
    }
}